



main{
    min-height: 100vh;
    background-color: rgb(245, 238, 238);
}


.como-doar article{
    width: 400px;
}


.projetos article{
    width: 400px;
}

.projetos article img{
    height: 230px;
}

.projetos article, .como-doar article{
    background-color: white;
    border-radius: 10px;
}

@media (min-width: 800px){
    .carousel-inner{
        height: 600px;
    }
}

