<main class="container-fluid pt-5 mt-4 "> 

   <div class="row">

    <!--Carrosel-->
    <section class=" px-0">

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner  ">
          <div class="carousel-item active">
            <img src="../../../assets/img-home/maos-que-ajudam-segurando-um-gesto-de-caridade.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img-home/voluntarios-se-unindo-para-organizar-doacoes-para-instituicoes-de-caridade.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        
    </section>
</div> 

  <!--Doações-->
    <div class="row">

        <section class="col mt-5">

            <h1 class="text-center">Como ajudar</h1>
            <p class="text-center">Aqui na Ong Litoral, temos várias formas que de ajudar, gerando oportunidades e transformando vidas.</p>

            <div class="como-doar d-flex flex-wrap justify-content-center gap-5 mt-5 ">

                <article class="text-center  p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                  </svg>
                  <h2>Faça uma doação!</h2>
                  <p>Doar é um ato de amor ao próximo! Faça sua doação e nos ajude a manter os projetos da ONG. Doe o quanto seu coração quiser!</p>
                  <a href="" class="btn btn-primary small">Saiba-Mais</a>

                </article>

                
                <article class="text-center p-2">

                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                  </svg>

                  <h2>Doe Algo!</h2>
                  <p>Qualquer ajuda é bem-vinda para que juntos, possamos ajudar outras pessoas e transformar vidas e o mundo. Ajude como puder!</p>
                  <a href="" class="btn btn-primary small">Saiba-Mais</a>

                </article>


                
                <article class="text-center  p-2">

                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-heart" viewBox="0 0 16 16">
                    <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4m13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
                  </svg>

                  <h2>Seja um Voluntário</h2>
                  <p>Engaje em uma causa social, contribua com suas habilidades, e venha desenvolver novas competências sendo um voluntário!</p>
                  <a href="" class="btn btn-primary small">Saiba-Mais</a>

                </article>



                
            </div>
        </section>

  </div>


  <div class="row">
    <!---PROJETOS SOCIAIS-->
    <section class="col mt-5">

        <h1 class="text-center mb-3">NOSSOS PROJETOS SOCIAIS!</h1>
        <p class="text-center">Aqui na Litoral Ong, temos vários projetos que impulsionam pessoas, gerando oportunidades e transformando vidas. Confira um pouco mais do nosso trabalho!</p>

        <div class="projetos  d-flex flex-wrap justify-content-center gap-5 ">

          <article class="p-2">
            <div>
              <img src="" alt="">
            </div>

            <div>
              <h2>Projeto Combate à fome</h2>
            </div>

            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing m.....</p>
            </div>
            
            <div>
              <a href="" class="btn btn-primary small">Saiba mais</a>
            </div>

        </article>


        <article class="p-2">
          <div>
            <img src="" alt="">
          </div>

          <div>
            <h2>Projeto Cultura e Artes</h2>
          </div>

          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing m.....</p>
          </div>
          
          <div>
            <a href="" class="btn btn-primary small">Saiba-mais</a>
          </div>

      </article>


      <article class="p-2">
        <div>
          <img src="" alt="">
        </div>

        <div>
          <h2>Projeto Profissionais de tecnologia</h2>
        </div>

        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing m.....</p>
        </div>
        
        <div>
          <a href="" class="btn btn-primary">Saiba-Mais</a>
        </div>

    </article>

    <article class="p-2">
      <div>
        <img src="" alt="">
      </div>

      <div>
        <h2>Projeto acolhimento de pessoas</h2>
      </div>

      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing m.....</p>
      </div>
      
      <div>
        <a href="" class="btn btn-primary ">Saiba-mais</a>
      </div>

  </article>
    </div>

    </section>

  </div>



</main>
